@media screen and (max-width: 767px) {
  .categories-list-section {
    padding-bottom: 40px;
  }
}



.categories-list-container {
    max-height: 228px;
    overflow: auto;
    width: 335px;
}


// .categories-list {
//     width: 309px;
// }

.simplebar-scrollbar:before {
    background-color: #E0E0E0 !important;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 768px) {
      gap: 32px;
    }
}


.categories-list-item {
    font-size: 16px;
    line-height: 1.125;
    font-weight: var(--font-weight-regular);
    color: #11111199;

    // padding: 12px 0;


    cursor: pointer;

    @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.333;
      // padding: 16px 0;
    }
}

.categories-list-item.active {
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--clr-text-modified);
}

@media screen and (min-width: 768px) {
    .categories-list-container {
        max-height: 472px;
        width: 339px;
    }

    .categories-list {
        // gap: 32px;
    }
}

.test {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//scroll down

.btn-to-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
    border: 2px solid var(--clr-text-modified);
}

.btn-to-down:hover,
.btn-to-down:focus {
    transition: 0.2s ease-in-out;
    border: 2px solid #3c2b88;
  }

  .scroll-down-icon {
    fill: var(--clr-text-modified);
  }

  .scroll-down-icon:hover,
  .scroll-down-icon:focus {
    fill: #3c2b88;
  }

@media screen and (max-width: 767px) {
    .btn-to-down {
        top: 11%;
        right: 3%;
        width: 44px;
        height: 44px;
      }

      .scroll-down-icon {
        width: 18px;
        height: 18px;
      }
  }

  @media (min-width: 768px) {
    .btn-to-down {
        top: 15%;
        right: 2%;
        width: 54px;
        height: 54px;
      }

      .scroll-down-icon {
        width: 30px;
        height: 30px;
      }
  }

  @media (min-width: 1158px) {
    .btn-to-down {
        top: 15%;
        right: 3%;
        width: 64px;
        height: 64px;
      }

      .scroll-down-icon {
        width: 44px;
        height: 44px;
      }
  }

  .btn-to-down--visible {
    display: none;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }



  // categories

.gallery-list-each-category {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      flex-direction: row;
      gap: 24px;
    }
}



// .gallery-list-item-each-category {
//     width: 100%;

//     @media screen and (min-width: 768px) {
      
//     }
// }

.gallery-book-img {
    border-radius: 8px;
}