.dark .header {
 background-color: var(--clr-back-ground-secondary-dark-theme);
 border-color: var(--clr-back-ground-secondary);
}

.dark .header_logo_icon {
    fill: var(--clr-text-primary-dark-theme);
    stroke: var(--clr-text-primary-dark-theme);

    
}
.dark .menu__toggle {
    stroke: var(--clr-back-ground-secondary);

    
}
.dark .icon-burger {
    
    &:hover,
        &:focus {
            stroke: var(--clr-back-ground-primary-modified);
        }
}
.dark .nav__link_home {
    color: var(--clr-text-primary-dark-theme);
}
.dark .current__page {
    color: var(--clr-text-primary);
}
.dark .nav__link_shopping {
    fill: var(--clr-text-primary-dark-theme);
    color: var(--clr-text-primary-dark-theme);
    &:hover,
    &:focus {
            fill: var(--clr-back-ground-primary-modified);
            color: var(--clr-back-ground-primary-modified);
        }
}
.dark body, 
.dark main {
    background-color: var(--clr-back-ground-primary-dark-theme);
}
.dark footer {
    background-color: var(--clr-back-ground-secondary-dark-theme);
    border-color: var(--clr-back-ground-secondary);
}
.dark .footer-container {
color: var(--clr-text-primary-dark-theme);
}
.dark .footer-modal-box {
    background-color: var(--clr-back-ground-primary-dark-theme);
    border: 1.5px solid var(--clr-back-ground-secondary);
    border-radius: 10px;
}
.dark .teem-icon-close {
    stroke: var(--clr-back-ground-secondary);
    &:hover,
    &:focus {
            stroke: var(--clr-back-ground-primary-modified);
        }

}

.dark .btn-to-down {
    border-color: var(--clr-back-ground-secondary-modified);
}
.dark .scroll-down-icon {
    fill: var(--clr-back-ground-secondary-modified);
}
.dark .btn-to-top {
    border: 2px solid var(--clr-back-ground-secondary-modified);
    background-color: transparent;
}
.dark .scroll-top-icon {
    stroke: var(--clr-back-ground-secondary-modified);
}
.dark .categories-list-item.active {
    color: var(--clr-text-modified-dark-theme);
}
.dark .categories-list-text {
    color: rgba(255, 255, 255, 0.6) ;
}
.dark .simplebar-scrollbar:before {
    background-color: var(--clr-back-ground-secondary-dark-theme) !important;
}
.dark .gallery-title {
    color: var(--clr-text-primary-dark-theme);
}
.dark .gallery-list-item-subtitle {
    color: var(--clr-text-primary-dark-theme);
}
.dark .see-more-button {
    background-color: transparent;
    color: var(--clr-text-primary-dark-theme);
    &:hover,
    &:focus {
        background-color: var(--clr-back-ground-primary);
        color: var(--clr-text-primary);
    }
}
.dark .popup__content {
    background-color: var(--clr-back-ground-primary-dark-theme);
    border-color: var(--clr-text-primary-dark-theme);
}
.dark .popup__book_name {
    color: var(--clr-text-primary-dark-theme);
}
.dark .book__descr {
    color: var(--clr-text-primary-dark-theme);
}
.dark .popup-btn {
    background-color: transparent;
    color: var(--clr-text-primary-dark-theme);
    &:hover,
    &:focus {
        background-color: var(--clr-back-ground-primary-modified);
        color: var(--clr-text-primary);
    }
}
.dark .popup-add-text {
    color: rgba(255, 255, 255, 0.6);
}
.dark .popup-close-btn {
    &::before,
    &::after {
        background-color: var(--clr-text-primary-dark-theme);
        border-color: var(--clr-text-primary-dark-theme);
    }
}
.dark .auth-modal {
    background-color: var(--clr-back-ground-primary-dark-theme);
}
.dark .modal-close-icon {
    stroke: var(--clr-text-primary-dark-theme);
    &:hover, &:focus {
        stroke: var(--clr-back-ground-primary-modified);
    }
}
.dark .modal-submit-btn {
    background-color: var(--clr-text-primary-dark-theme);
    color: var(--clr-back-ground-primary-dark-theme);
    
}
.dark .modal-input {
    background-color: transparent;
    color: var(--clr-back-ground-primary);
    border-color: var(--clr-back-ground-primary);
    &::placeholder {
        color: var(--clr-back-ground-primary);
    }
}
.dark .modal-icon {
    stroke: var(--clr-back-ground-primary);
}
.dark .sl-title {
    color: var(--clr-text-primary-dark-theme);
}
.dark .sl-text {
    color: rgba(255, 255, 255, 0.6);
}
.dark .sl-book-title,
.dark .sl-book-desc {
    color: var(--clr-text-primary-dark-theme);
}

.dark .categories-list-text {
    &:hover {
        color: var(--clr-text-modified-dark-theme);
    } 
}

.dark .categories-list-text.active {
    color: var(--clr-text-modified-dark-theme);
}

.dark .each-category-header {
    color: var(--clr-text-primary-dark-theme);
}
