
.teem-icon-close{
    stroke: #111111;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 14px;
    height: 14px;
    cursor: pointer;

    // align-items: center;
    // justify-content: center;
    // display: flex;
}
.teem-icon-close:hover,
.teem-icon-close:focus {
    stroke: #4F2EE8;
}
.footer-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(46, 47, 66, 0.4);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}
.footer-modal-box {
    position: relative;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    max-width: 500px;
    z-index: 1;
    margin: 30px 15px;
    transform: scale(0);
    transition: transform .8s;

    background-color: #FCFCFC;
}
.footer-modal.footer-open{
    visibility: visible;
    opacity: 1;
}
.footer-modal.footer-open .footer-modal-box{
    transform: scale(1);
}
#our-team-btn{
    color: #4f2ee8;
    fill: #4f2ee8;
    cursor: pointer;
}
// @media screen and (max-width: 405px) {
//     .footer-modal {
//         width: 100%;
//         height: 100%;
//         // top: 50%;
//     }
// }
// @media screen and (min-width: 768px) {
//     .footer-modal {
//         top: 100%;
//     }
// }

