body.show-popup .popup-backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    body.show-popup .popup-body {
        transform: scale(1);
    }
}
.popup-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms var(--time-function), visability 250ms var(--time-function);
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.1);
    transition: transform 250ms var(--time-function);

}

.popup__content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--clr-back-ground-secondary);
    color: var(--clr-text-primary);
    padding: 24px, 40px;
    max-width: 335px;
    
@media screen and (min-width: 768px) {
    max-width: 579px;
    flex-direction: row;
    flex-wrap: wrap;
}
}

.popup-close-btn {
width: 24px;
height: 24px;
border: none;
background-color: transparent;
}

.popup-close-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.popup__image {
    margin-bottom: 14px;
        max-width: 287px;
        max-height: 408px;
    border-radius: 8px;
    margin-bottom: 14px;
    @media screen and (min-width: 768px) {
            max-width: 192px;
            max-height: 281px;
        }
}

.popup__book_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.125;
    text-transform: uppercase;
    margin-bottom: 4px;
    @media screen and (min-width: 768px) {
            font-size: 24px;
            margin-bottom: 8px;

        }
}

.popup__book_author {
    color: var(--clr-text-secondary);
    font-size: 12px;
    line-height: 1.125;
    font-style: italic;
    margin-bottom: 18px;
    @media screen and (min-width: 768px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
}

.book__descr {
    max-height: 70px;
    overflow: scroll;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 14px;
    @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
}

.popup__market__list {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;

}

.popup__market__list__item {
    display: block;
}

.popup-add-btn {
    border: 2px solid var(--clr-text-modified);
    border-radius: 40px;

    padding: 14px, 23px;
    margin-bottom: 8px;

    color: var(--clr-text-primary);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.33;
    
    @media screen and (min-width: 768px) {
            font-size: 18px;
padding: 20px, 150px;
        }
}

.popup-add-text {
color: rgba(17, 17, 17, 0.5);
font-size: 10px;
line-height: 1.2;
text-align: center;

}
.popup-text-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}