#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #ccece7, #4f2ee8);
  z-index: 999;
  display: none;
  //   display: block;
}
.registration-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f6f6;
  padding: 40px 20px;
  border: 2px solid;
  border-radius: 18px;
  width: 90vw;
  max-width: 375px;

  @media screen and (min-width: 768px) {
    max-width: 530px;
    padding: 80px 40px 20px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 580px;
  }
}

.input-wrapper {
  position: relative;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
    &:nth-child(3) {
      margin-bottom: 40px;
    }
  }
}

.modal-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  stroke: #111111;
  fill: #d9d9d9;
}
.modal-sign-btn-wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-top: 14px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
  }
}
.modal-close-icon {
  stroke: #111111;
  fill: #d9d9d9;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 14px;
  }
}
.modal-close-btn {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;

  border: none;
  background-color: transparent;
}
.modal-input {
  width: 90%;

  border-radius: 40px;
  padding: 16px 24px;
  line-height: 1.12;

  background-color: #f6f6f6;

  &:focus {
    border-color: #4f2ee8;
    outline: transparent;
    & ~ .modal-icon {
      stroke: #4f2ee8;
      fill: #d9d9d9;
    }
  }
}
