// ЗАГОЛОВОК
.sl-title {
  margin-top: 40px;
  margin-bottom: 120px;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: -0.04em;
text-align: left;

color: var(--clr-text-primary);
}

.sl-blue-title {
  color: var(--clr-text-modified);
}


// НІЧОГО ПОКАЗУВАТИ
.sl-wrap {
  margin-left: auto;
  margin-right: auto;
}
.sl-text {
  margin-bottom: 14px;

  max-width: 244px;

  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;

  color: rgba($color: #000000, $alpha: 0.6);
}

.sl-img-container {
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  height: 198px;
}

// ОБГОРТКА КАРТКИ
.sl-card-item {
  position: relative;

  display: flex;
  gap: 14px;

  margin-bottom: 20px;
  padding: 14px;
  border: 2px solid var(--clr-back-ground-primary-modified);
  border-radius: 16px;
}

// зображення книги
.sl-img-wrap {
  width: 100px;
  height: 142px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.sl-img {
  width: 100%;
  height: 100%;
}

// інформація про книгу
.sl-card-info-wrap {
  display: flex;
  flex-direction: column;
  width: 193px;
}

.sl-book-title {
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-align: left;

  color: var(--clr-text-primary);
}

.sl-book-category {
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: left;

  color: var(--clr-text-secondary);
}

.sl-book-desc {
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: left;

  color: var(--clr-text-primary);
}

.sl-card-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sl-book-author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--clr-text-secondary);
}

// кнопки магазинів
.sl-book-card-shops {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sl-amazon-logo-wrap {
  width: 32px;
  height: 11px;
}

.sl-apple-logo-wrap,
.sl-bookshop-logo-wrap {
  width: 16px;
  height: 16px;
}
// кнопка видалити
.sl-card-delete-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  stroke: var(--clr-text-secondary-light-theme);
  fill: var(--clr-back-ground-primary-modified);

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-back-ground-primary-modified);
}

.sl-card-delete-btn:hover,
.sl-card-delete-btn:focus {
  background-color: var(--clr-back-ground-secondary-modified);
  fill: var(--clr-back-ground-secondary-modified);
  stroke: var(--clr-text-primary);
}

.sl-card-icon {
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  // обгортка картки
  .sl-card-item {
    width: 704px;
    gap: 24px;
  }
  // зображення книги
  .sl-img-wrap {
    width: 116px;
    height: 165px;
  }

  // інформація про книгу
  .sl-card-info-wrap {
    width: 516px;
  }
  .sl-book-category {
    margin-bottom: 14px;
  }

  // кнопки магазинів
  .sl-book-card-shops {
    gap: 16px;
  }
  .sl-amazon-logo-wrap {
    width: 48px;
    height: 15px;
  }
  .sl-apple-logo-wrap {
    width: 28;
    height: 27;
  }
  .sl-bookshop-logo-wrap {
    width: 32;
    height: 30;
  }

  // кнопка видалити
  .sl-card-delete-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }
  .sl-card-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 1440px) {
  // обгортка картки
  .sl-card-item {
    width: 996px;
  }

  // інформація про книгу
  .sl-card-info-wrap {
    width: 808px;
  }
}
