// Nothing to show
.sl-wrap {
  margin-left: auto;
  margin-right: auto;
}
.sl-text {
  max-width: 349px;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;

  color: rgba($color: #000000, $alpha: 0.6);
}

.sl-img-container {
  margin-left: auto;
  margin-right: auto;
}

:root {
  --clr-text-primary: #111111;
  --clr-text-primary-dark-theme: #ffffff;
  --clr-text-secondary-light-theme: #ffffff;
  --clr-text-secondary: #b4afaf;
  --clr-text-logo: #000000;

  --clr-text-modified: #4f2ee8;
  --clr-text-modified-dark-theme: #eac645;

  --clr-text-modal: #000000;
  --clr-text-modal-modified: #fcf1e0;

  --clr-back-ground-primary: #f6f6f6;
  --clr-back-ground-secondary: #ffffff;
  --clr-back-ground-primary-dark-theme: #202024;
  --clr-back-ground-secondary-dark-theme: #111111;

  --clr-back-ground-primary-modified: #4f2ee8;
  --clr-back-ground-secondary-modified: #eac645;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}


// -------------------------------------------------
// обгортка картки
.sl-card-item {
  position: relative;

  display: flex;
  gap: 14px;

  margin-bottom: 20px;
  padding: 14px;
  border: 2px solid var(--clr-back-ground-primary-modified);
  border-radius: 16px;
}

// зображення книги
.sl-img-wrap {
  width: 100px;
  height: 142px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.sl-img {
  width: 100%;
  height: 100%;
}

// інформація про книгу
.sl-card-info-wrap {
  display: flex;
  flex-direction: column;
}

.sl-book-title {
  margin-bottom: 4px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.04em;
  text-align: left;

  color: var(--clr-text-primary);
}

.sl-book-category {
  margin-bottom: 8px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: left;

  color: var(--clr-text-secondary);
}

.sl-book-desc {
  font-size: 14px;

  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: left;

  color: var(--clr-text-primary);
}

.sl-card-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sl-book-author {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--clr-text-secondary);
}

// кнопки магазинів
.sl-book-card-shops {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sl-amazon-logo-wrap {
  width: 32px;
  height: 11px;
}

.sl-apple-logo-wrap,
.sl-bookshop-logo-wrap {
  width: 16px;
  height: 16px;
}
// кнопка видалити
.sl-card-delete-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  stroke: var(--clr-text-secondary-light-theme);
  fill: var(--clr-back-ground-primary-modified);

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-back-ground-primary-modified);
}

.sl-card-icon {
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
 // обгортка картки
.sl-card-item {
  width: 704px;

  gap: 24px;

  margin-bottom: 20px;
  padding: 24px;
  border: 2px solid var(--clr-back-ground-primary-modified);
  border-radius: 16px;
}
// зображення книги
.sl-img-wrap {
  width: 116px;
  height: 165px;
}

// інформація про книгу

.sl-book-category {
  margin-bottom: 14px;
}

// кнопки магазинів
.sl-book-card-shops {
  gap: 16px;
}

.sl-amazon-logo-wrap {
  width: 48px;
  height: 15px;
}

.sl-apple-logo-wrap {
   width: 28;
  height: 27;
}
.sl-bookshop-logo-wrap {
  width: 32;
  height: 30;
}
// кнопка видалити
.sl-card-delete-btn {
  top: 24px;
  right: 24px;
   width: 34px;
  height: 34px;
 }

.sl-card-icon {
  width: 18px;
  height: 18px;
}
}

@media screen and (min-width: 1440px) {

}
