//media screen and (max-width: 767px) {
    .supportUkraine {
        max-width: 335px;
        max-height: 352px;
        border-radius: 16px;
        font-size: 24px;
        background-color: #4F2EE8;
        color: #ffffff;
        
    }

    .supportUkraine__title {
        display: flex;
        top: 24px;
        margin-left: 40px;
        gap: 12px;
        font-size: 18px;

        font-family: DM Sans;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.04em;
            text-align: left;

    }

    .supportUkraine__title-logo {
        fill: #ffffff;
        width: 20px;
        height: 32px;
    }

    .supportUkraine__list {
        top: 96px;
        margin-left: 40px;
        gap: 20px;
        flex-direction: column;
    }
    .supportUkraine__list-card {
        display: flex;
        text-align:justify;
        gap: 16px;
        font-size: 14px;
    }

    .photo-img {
        filter: brightness(0) invert(1);//спочатку робимо колір повністю черним, а потім інвертируємо
    }

         
    .supportUkraine__button {
        text-align: center;
         }

    .supportUkraine__button-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        fill: #4F2EE8;;
        background-color: #ffffff;
        border: 0 none #ffffff;
    }

    .supportUkraine__button-icon {
        text-align: center;
            width: 12px;
            height: 6px;
    }
//}

//media screen and (min-width: 768px) {
//    .supportUkraine {
//        width: 335 px;
//        height: 472 px;
//        border: 1px;
//        font-size: 24px;
//        background-color: #4F2EE8;
//    }

//}