<section class="categories-list-section">
  <a class="btn-to-down btn-to-down--visible" href="#footer">
    <svg class="scroll-down-icon">
      <use href="./images/icons.svg#icon-fi-rr-angle-small-left"></use>
    </svg>
  </a>

  <div class="categories-list-container container simplebar">
    <ul class="categories-list">
      <li class="categories-list-item">
        <a href="/src/index.html">
          <p class="categories-list-text active">All categories</p>
        </a>
      </li>
    </ul>
  </div>
</section>
