<footer>
    <div>
        <p>© 2023 | All Rights Reserved| Developed with <span id="our-team-btn">"Funny Bugs"</span> by GOIT Students</p>
    </div>
</footer>
<div id="our-team" class="footer-modal-hiden footer-backdrop">
    <div class="footer-modal">
        <svg class="teem-icon" width="8" height="8">
            <use href="/src/images/icons.svg#icon-x-close"></use>
        </svg>
        <h2>Our Team:"Funny Bugs"</h2>
        <ul>
    <li>
        <!-- <img src="" alt=""></img> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur magni nemo maiores eius enim praesentium earum repellendus porro odit aut aliquam id consectetur quam repudiandae voluptatibus, dolorum dolorem corrupti tenetur.</p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus recusandae eveniet iure pariatur ipsum magni consequatur molestias nemo amet eaque molestiae maiores voluptatem deserunt, repellat in doloremque aliquam quia est.</p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ullam quas sequi praesentium? Ipsum odio alias pariatur sapiente accusamus harum neque sunt ratione cupiditate? Ducimus, dolor? Rem excepturi sapiente numquam.</p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p></p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p></p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p></p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p></p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p></p>
        <a href=""></a>
        <a href=""></a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <p></p>
        <a href=""></a>
        <a href=""></a
            li>
    <li>
        <!-- <img src="" alt=""> -->
        <p></p>
        <a href=""></a>
        <a href=""></a>
    </li>
        </ul>
    </div>
</div>
