<footer>
    <div>
        <p>© 2023 | All Rights Reserved| Developed with <span id="our-team-btn">"Funny 
            <svg class="" width="8" height="8">
                <use href="/src/images/icons.svg#icon-bug"></use>
            </svg>    
            "</span> by GOIT Students</p>
    </div>
</footer>
<div id="our-team" class="footer-modal-hiden footer-backdrop">
    <div class="footer-modal">
        <svg class="teem-icon" width="8" height="8">
            <use href="/src/images/icons.svg#icon-x-close"></use>
        </svg>
        <h2>Our Team:"Funny Bugs"</h2>
        <ul>
    <li>
        <img src="/src/images/our-team/rostislav.jpg" alt="man" width="260px" height="260px"></img>
        <h3>Ростислав Стадник</h3>
        <p>Team Lead | Developer</p>
        <a href="https://www.linkedin.com/in/%D1%80%D0%BE%D1%81%D1%82%D0%B8%D1%81%D0%BB%D0%B0%D0%B2-%D1%81%D1%82%D0%B0%D0%B4%D0%BD%D0%B8%D0%BA-70373b237/" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="https://github.com/Ferdomoner73" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <img src="/src/images/our-team/Nazar-Kril.jpg" alt="man" width="260px" height="260px"></img>
        <h3>Nazar Kril</h3>
        <p>Scrum Master | Developer</p>
        <a href="https://www.linkedin.com/in/nazar-kril-a082b822b/" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="https://github.com/NazarkoKril" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <img src="/src/images/our-team/Andriy-Yefimchuk.jpg" alt="man" width="260px" height="260px"></img>
        <h3>Andriy Yefimchuk</h3>
        <p>Developer</p>
        <a href="" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="https://github.com/Efim1298" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <img src="/src/images/our-team/Ihor-Hryhoriev.jpg" alt="man" width="260px" height="260px"></img>
        <h3>Ihor Hryhoriev</h3>
        <p>Developer</p>
        <a href="https://www.linkedin.com/in/%D1%96%D0%B3%D0%BE%D1%80-%D0%B3%D1%80%D0%B8%D0%B3%D0%BE%D1%80-%D1%94%D0%B2-830062278/" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="https://github.com/hruden" target="_blank">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <img src="/src/images/our-team/Karamalak-Julia.jpg" alt="woman" width="260px" height="260px"></img>
        <h3>Julia Karamalak</h3>
        <p>Developer</p>
        <a href="https://www.linkedin.com/in/julia-krk-3b3a62282/">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="https://github.com/JuliaKRK">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <img src="/src/images/our-team/Maksym-Nyzhnov.jpg" alt="man" width="260px" height="260px"></img>
        <h3>Maksym Nyzhnov</h3>
        <p>Developer</p>
        <a href="https://www.linkedin.com/in/maksym-nyzhnov-480210279/">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="https://github.com/MaksNyzhnov">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <h3></h3>
        <p>Developer</p>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <h3></h3>
        <p>Developer</p>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
    <li>
        <!-- <img src="" alt=""> -->
        <h3></h3>
        <p>Developer</p>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a
            li>
    <li>
        <!-- <img src="" alt=""> -->
        <h3></h3>
        <p>Developer</p>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-linkedin"></use>
            </svg>    
        </a>
        <a href="">
            <svg class="" width="20" height="20">
                <use href="/src/images/icons.svg#icon-github"></use>
            </svg>    
        </a>
    </li>
        </ul>
    </div>
</div>
