<header class="header" id="header">
  <div class="container-header container">
    <a href="" class="header_logo">
      <svg height="28" width="109" class="header_logo_icon">
        <use href="/src/images/icons.svg#icon-logo-whole-light"></use>
      </svg>
    </a>
    <div>
      <label for="toggler">
        <input type="checkbox" class="switch-input" id="toggler" />
        <span class="switch-slider"></span>
      </label>
      <button
        type="button"
        class="menu_toggle"
        data-action="open-modal"
        aria-label="Toggle color theme"
      >
        <svg height="28" width="28" class="icon-burger">
          <use href="/src/images/icons.svg#icon-align-left"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
