    <section class="section_supportUkraine container">
        <div class="supportUkraine__title">
            <h2>Support Ukraine</h2>
            <svg class="supportUkraine__title-logo">
                <use href="./images/icons.svg#icon-Group-2"></use>
            </svg> 
        </div>
        <div class="supportUkraine__list">

        </div>
        <div class="supportUkraine__blockButton">
            <button type="button" class="supportUkraine__button">
                <svg class="supportUkraine__button-icon">
                    <use href="./images/icons.svg#icon-fi-rr-angle-small-left"></use>
                </svg>
            </button>
        </div>
    </section>