<html lang="en">
<head>

</head>
<body>
    <div class="supportUkraine">
        <div class="supportUkraine__title">
            <h2>Support Ukraine</h2>
            <svg class="supportUkraine__title-logo">
                <use href="./images/icons.svg#icon-Group-2"></use>
            </svg>
        </div>
        <div class="supportUkraine__list">

        </div>
        <div class="supportUkraine__button"></div>
    </div>
    <script src="/src/js/support-ukraine.js" type="module"></script>
</body>
</html>